/*Remove to see the map*/
#map {
  height: 100%;
  width:99%;
  display: inline-block;
}


/*#name,#url,#location,#description,#hoursOfOperation,#picture{
  display: inline-block;
}
tr{
  display: inline-block;
}*/
table{
  width:90%;
}
