/*Remove to see the map*/
#map {
  height: 100%;
  width:65%
}

/*#name,#url,#location,#description,#hoursOfOperation,#picture{
  display: inline-block;
}
tr{
  display: inline-block;
}*/
table{
  width:70%;
}
